ipykernel
python-dotenv
langchain
langchain-core
langchain-community
langchain-experimental
langchain-text-splitters
langsmith
langchain-groq
langchain-openai
langchainhub
openai
rdflib
pypdf
pymupdf
PyPDF2
xmltodict
streamlit
neo4j
faiss-cpu
chromadb